
* {
  box-sizing: border-box;
}
body{
    margin:0;
    background-color: rgb(196, 191, 191);
    
}
#navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 0);
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    margin-top: 5%;
     
  }
  #navbar img {
    float: right;
    margin-right: 27%;
    
  }

#myName{
    margin-left: 30px;
    font-size: 23px;
    font-weight: bold;
    margin-top: 10px;
}
#myTitle{
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
    float: left;
  
}

.imageRadius{
    border: 2px solid white;
    border-radius: 40px;
    margin-top: -2%;
 
  }
  #containerDiv{
    height: 700px;
    background-color: red;
  }
  
#firstInformationDiv {
  float: left;
  margin-left: 15%;
  width: 45%;
  background-color:rgb(255,255,255);
}
#secondInformationDiv {
    float: left;
    margin-right: 15%;
    width: 25%;
    background-color:rgb(255, 255, 255);
      }

      @media only screen and (max-width:800px) {
        /* For tablets: */
        #firstInformationDiv {
          width: 1000%;
          padding: 0;
        }
        #secondInformationDiv {
          width: 100%;
        }
      }

      @media only screen and (max-width:500px) {
        /* For mobile phones: */
        #firstInformationDiv, #secondInformationDiv {
          width: 100%;
        }
      }

      .notFullBlack{
          color: rgb(120, 128, 146);
          font-size: 15px;
          margin :10px ;
          font-family: 'Times New Roman', Times, serif;  
      }
      .boldBigText{
        font-weight: bold;
        font-size: 22px;
        margin : 10px ;
      }
      .boldSmallText{
          font-weight: bold;
          font-size: 17px;
          margin : 10px ;

      }
      .notFullBlackSmall2{
        color: #788092;
        font-weight: bold;
        margin : 7px ;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .notFullBlackBig2{
        color: rgb(120, 128, 146);
        margin : 7px;
        font-size: 23px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
      

